<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Topo</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
              Donec sed odio dui. </p>
            <p>
              <a href="/explore" target="_blank" class="btn btn-outline-primary" rel="noopener noreferrer">Esteja no Topo
                &raquo;</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Reclame</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
              Donec sed odio dui. </p>
            <p><a href="/reclame" target="_blank" class="btn btn-outline-primary" rel="noopener noreferrer">Reclame
                &raquo;</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Envie seu quiz</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
              porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
              fermentum massa justo sit amet risus.</p>
            <p>
              <a href="/reclame" target="_blank" class="btn btn-outline-primary" rel="noopener noreferrer">Envie seu
                quiz &raquo;</a>
            </p>
          </div>
        </div>
        <small class="d-block text-center mt-3">
          <a target="_blank" alt="Github" class="nav-link active" href="https://github.com/oGabrielSilva">Github</a>
          <a class="nav-link active" href="/system.config">Administração</a>
        </small>

      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      &copy; 2021 Copyright: Gabriel Henrique da Silva
    </div>
</footer>

<!-- <script src="./assets/js/bootstrap.bundle.min.js"></script> -->
<script src="./assets/js/bundle.js"></script>
</body>

</html>