<footer class="bg-dark text-center text-white">
  <% if(!adm) { %>  
    <div class="container p-4">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a target="_blank" alt="Github" class="nav-link active" href="https://github.com/oGabrielSilva">Github</a>
        </li>
        <li class="nav-item">
          <a target="_blank" alt="E-mail" class="nav-link" href="mailto:g.h.silva.digital@gmail.com">Google</a>
        </li>
        <li class="nav-item">
          <a target="_blank" alt="LinkedIn" class="nav-link" href="https://www.linkedin.com/in/ogabriel-henrique/">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link" href="https://www.instagram.com/gabriel.hsilva/">Instagram</a>
        </li>
      </ul>
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <form action="">
        <button type="button" class="btn btn-outline-primary">Envie seu quiz</button>
      </form>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">©2021 Copyright: Gabriel Henrique da Silva || 8bits</div>
  <% } %>
</footer>

<script src="./assets/js/bootstrap.bundle.min.js"></script>
<script src="./assets/js/bundle.js"></script>
</body>

</html>