<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Explore</h2>
            <p>
              Navege pelo site e encontre diversas opções de quizzes. Clique no botão abaixo para acessar a aba 
              de explorar e visualize todos os temas para quizzes presentes no nosso aplicativo e divirta-se. Depois,
              envie-nos seu feedback através da aba de reclamações.
            </p>
            <p>
              <a href="/explore" target="_blank" class="btn btn-outline-primary" rel="noopener noreferrer">Esteja no Topo
                &raquo;</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Reclame</h2>
            <p>
              Encontrou algo de errado enquanto navegava pelo site? Nos envie esse erro. Ajude a nossa equipe a trazer
              a melhor experiência para os usuários. Clique no botão abaixo e preencha o formulário para nos enviar. 
              Não é de difícil compreensão, confia.
            </p>
            <p><a href="/reclame" target="_blank" class="btn btn-outline-primary" rel="noopener noreferrer">Reclame
                &raquo;</a>
            </p>
          </div>
          <div class="col-md-4">
            <h2>Envie seu quiz</h2>
            <p>Ficou interessado no site? Se gostou do conteúdo você pode nos ajudar a crescer um pouco mais
              de forma simples. Nos envie sua ideia de quiz através do botão de e-mail abaixo. Seja específico 
              e mande todas as suas questões. A equipe irá avaliar.
            </p>
            <p>
              <a href="/reclame#sendEmail" target="_blank" class="btn btn-outline-primary" rel="noopener noreferrer">Envie seu
                quiz &raquo;</a>
            </p>
          </div>
        </div>
        <small class="d-block text-center mt-3">
          <a target="_blank" alt="Github" class="nav-link active" href="https://github.com/oGabrielSilva">Github</a>
          <a class="nav-link active" href="/system.config">Administração</a>
        </small>

      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      &copy; 2021 Copyright: Gabriel Henrique da Silva
    </div>
</footer>

<!-- <script src="./assets/js/bootstrap.bundle.min.js"></script> -->
<script src="./assets/js/bundle.js"></script>
</body>

</html>