<%- include('includes/head') %>
    <%- include('includes/nav') %>

        <main role="main" class="container">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Classificações mais altas</h6>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Gabriel</strong>
                        <a href="#" class="list-group-item list-group-item-action">Some placeholder content in a
                            paragraph.</a>
                        <small class="text-muted">And some muted small print.</small>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Stevan</strong>
                        <a href="#" class="list-group-item list-group-item-action">Some placeholder content in a
                            paragraph.</a>
                        <small class="text-muted">And some muted small print.</small>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Viktor</strong>
                        <a href="#" class="list-group-item list-group-item-action">Some placeholder content in a
                            paragraph.</a>
                        <small class="text-muted">And some muted small print.</small>
                    </p>
                </div>
                <small class="d-block text-end mt-3">
                    <a href="#">Outros</a>
                </small>
            </div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Mais recentes</h6>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Gabriel</strong>
                        <a href="#" class="list-group-item list-group-item-action">Some placeholder content in a
                            paragraph.</a>
                        <small class="text-muted">And some muted small print.</small>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Stevan</strong>
                        <a href="#" class="list-group-item list-group-item-action">Some placeholder content in a
                            paragraph.</a>
                        <small class="text-muted">And some muted small print.</small>
                    </p>
                </div>
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@Viktor</strong>
                        <a href="#" class="list-group-item list-group-item-action">Some placeholder content in a
                            paragraph.</a>
                        <small class="text-muted">And some muted small print.</small>
                    </p>
                </div>
                <small class="d-block text-end mt-3">
                    <a href="#">All updates</a>
                </small>
            </div>
        </main>


        <%- include('includes/footer') %>